thead{
    background-color: #323131;
    color: white;
    font-weight: bold;
}

.text-col{
    text-align: center;
    vertical-align: middle;
}

td{
    vertical-align: middle;
}

.logo{
    mix-blend-mode: multiply;
}