<div class="container move-up">
    <h2 appStyleTableTitles>Players</h2>
    <button class="btn btn-secondary" (click)="goBack()"><i class="fa fa-arrow-left"></i> BACK</button>
    <app-loader [loading]="loading" class="text-center"></app-loader>

    <table [hidden]="loading" class="table table-responsive table-bordered text-col">
        <thead>
            <tr>
                <th class="text-col">Jersey number </th>
                <th class="text-col">Name</th>
                <th class="text-col">Position</th>
                <th class="text-col">Nationality</th>
                <th class="text-col">Date of Birth</th>
            </tr>
        </thead>
        <tbody *ngIf="!hasPlayers">
            <tr>
                <td class="text-col" colspan="5">Sorry! No data found</td>
            </tr>
        </tbody>
        <tbody>
            <tr appHoverTableRow *ngFor="let player of listPlayers | sortPlayersByNumber: listPlayers">
                <td>{{player.jerseyNumber}}</td>
                <td>{{player.name}}</td>
                <td>{{player.position}}</td>
                <td>{{player.nationality}}</td>
                <td>{{player.dateOfBirth}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-secondary" (click)="goBack()"><i class="fa fa-arrow-left"></i> BACK</button>
</div>