<!-- Register Form -->

<div class="container" id="auth-form">
    <div class="row form-row">
        <div class="form-area">
            <form role="form" class="contact-form">
                <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Register</h3>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="repeatpassword" name="repeatpassword" placeholder="confirm password" required>
                </div>
                <input type="submit" id="submit" name="submit" class="btn btn-primary pull-right" value="Register">
            </form>
        </div>
    </div>
</div>