<div class="container" id="mainContainer">
    <section id="leagueSelect" class="row">
        <div class="btn-group leagues" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Premier League</button>
            <button type="button" class="btn btn-secondary">Bundesliga</button>
            <button type="button" class="btn btn-secondary">La Liga</button>
            <button type="button" class="btn btn-secondary">Ligue 1</button>
        </div>
    </section>
    <div class="row" id="scoreTable">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Team Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Draws</th>
                    <th>Lost</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Barcelona</td>
                    <td>9</td>
                    <td>8</td>
                    <td>1</td>
                    <td>0</td>
                    <td>25</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Real Madrid</td>
                    <td>9</td>
                    <td>7</td>
                    <td>1</td>
                    <td>1</td>
                    <td>22</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Atletico Madrid</td>
                    <td>9</td>
                    <td>6</td>
                    <td>3</td>
                    <td>0</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Villareal</td>
                    <td>9</td>
                    <td>4</td>
                    <td>5</td>
                    <td>0</td>
                    <td>17</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Sevilla</td>
                    <td>9</td>
                    <td>5</td>
                    <td>0</td>
                    <td>4</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>