<div class="container" id="mainContainer">
    <section id="leagueSelect" class="row">
        <div class="btn-group leagues" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Premier League</button>
            <button type="button" class="btn btn-secondary">Bundesliga</button>
            <button type="button" class="btn btn-secondary">La Liga</button>
            <button type="button" class="btn btn-secondary">Ligue 1</button>
        </div>
    </section>
    <div class="row team" id="teamsList">
        <div class="col-md-4">
            <img src="./img/team1.png" alt="Barcelona" width="160px">
            <h5>Barcelona</h5>

        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#fixture1" aria-expanded="false" aria-controls="collapseExample">
                    Recent Fixtures
                  </button>
            <div class="collapse" id="fixture1">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Real Madrid - 20 Sept. 2017</li>
                        <li class="list-group-item">Valencia - 21 Sept. 2017</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#players1" aria-expanded="false" aria-controls="collapseExample">
                    Players
                  </button>
            <div class="collapse" id="players1">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Leo Messi</li>
                        <li class="list-group-item">Suarez</li>
                        <li class="list-group-item">Ter Stegen</li>
                        <li class="list-group-item">Dembele</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="col-md-4">
            <img src="./img/team2.png" alt="Barcelona" width="160px">
            <h5>Real Madrid</h5>

        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#fixture2" aria-expanded="false" aria-controls="collapseExample">
                    Recent Fixtures
                  </button>
            <div class="collapse" id="fixture2">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Barcelona - 20 Sept. 2017</li>
                        <li class="list-group-item">Eibar - 21 Sept. 2017</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#players2" aria-expanded="false" aria-controls="collapseExample">
                    Players
                  </button>
            <div class="collapse" id="players2">
                <div class="card card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Cristiano Ronaldo</li>
                        <li class="list-group-item">Gareth Bale</li>
                        <li class="list-group-item">Benzema</li>
                        <li class="list-group-item">Pepe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>