<header id="header" class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">KING OF THE SPORTS</h1>
                    <p class="intro-text">Fixtures, Schedules, Teams, Results, Statistics. <br>
                        Become a part of our community. Join now!</p>
                    <a href="#" class="btn btn-circle js-scroll-trigger">
                        <i class="fa fa-sign-in animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>