.fixtures-title{
    color: yellow;
    text-align: center;
}

thead{
    background-color: #323131;
    color: white;
    font-weight: bold;
}

tbody>tr:hover{
    cursor: pointer;
    background-color: grey;
    color: yellow;
}

td{
    vertical-align: middle;
}