<div class="container move-up">
    <h2 class="league-title">League table</h2>
    <button class="btn btn-secondary" (click)="goBack()"><i class="fa fa-arrow-left"></i> BACK</button>
    <app-loader [loading]="loading" class="text-center"></app-loader>

    <table [hidden]="loading" class="table table-responsive table-bordered text-col">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-col">Logo</th>
                <th class="text-col">Team</th>
                <th class="text-col">Games</th>
                <th class="text-col">Wins</th>
                <th class="text-col">Draws</th>
                <th class="text-col">Loses</th>
                <th class="text-col">GF</th>
                <th class="text-col">GA</th>
                <th class="text-col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of list" [routerLink]="['/competition/:id', team.teamId]">
                <td>{{team.position}}</td>
                <td><img class="img-responsive logo" [src]="team.crestURI" onError="this.src='./../../../assets/images/noImage.png'" /></td>
                <td>{{team.teamName}}</td>
                <td>{{team.playedGames}}</td>
                <td>{{team.wins}}</td>
                <td>{{team.draws}}</td>
                <td>{{team.losses}}</td>
                <td>{{team.goals}}</td>
                <td>{{team.goalsAgainst}}</td>
                <td>{{team.points}}</td>
            </tr>
    </table>
    <button class="btn btn-secondary" (click)="goBack()"><i class="fa fa-arrow-left"></i> BACK</button>
</div>