.logo{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

thead{
    background-color: #323131;
    color: white;
    font-weight: bold;
}

.text-col{
    text-align: center;
}

td{
    vertical-align: middle;
}

.logo{
    mix-blend-mode: multiply;
}