<div class="container">
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; <a href="https://github.com/TheThreateningHippopotamuss/KingOfTheSports">Team "The Threatening Hippopotamuss"</a>                2017</p>
        </div>
    </footer>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->
</div>